.form
{
    margin-top:4%;
    margin-left: 10%;
    width: 400px;
    height: fit-content;
    padding: 20px;
    background-color: rgb(235, 233, 229);
    box-shadow: 0 0 5px white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inp
{
    font-size: 20px;
    border: 2px solid grey;
    outline: none;
    padding: 10px;
    
    border-radius: 5px;
    Text-indent: 15px;
}
a
{
    text-decoration: none;
    color: #1a0dab;
}